# Created by https://www.toptal.com/developers/gitignore/api/reactnative,node,virtualenv,visualstudiocode,intellij,macos,windows,python,jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=reactnative,node,virtualenv,visualstudiocode,intellij,macos,windows,python,jupyternotebooks

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/shelf/
.idea/httpRequests/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Logs & Reports
logs/
*.log
*.pid
*.seed
*.pid.lock
.nyc_output
*.tsbuildinfo
.rpt2_cache/
.rts2_cache_*/

# Android/IntelliJ
build/
.gradle/
.cxx/
local.properties
*.keystore
!debug.keystore

# iOS/Xcode
DerivedData/
*.xcuserstate
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
**/.xcode.env.local

# React Native
.expo/
__generated__/
*.jsbundle
.metro-health-check*

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Virtual Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing
/coverage
.tox/
.nox/
.pytest_cache/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Ruby / CocoaPods
Pods/
vendor/bundle/

# VS Code
.vscode/
.history/
.vscode-test/
.ionide/

# JetBrains Rider
.idea/codestream.xml
.idea/httpRequests
.idea/shelf
.idea/misc.xml

# Eclipse
.project
.classpath

# Misc
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
